/* GLOBAL */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #FBF6F2;
  color: #4B2E2A;
  line-height: 1.6;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 30px 20px 15px; /* top | sides | bottom */
  background-color: #F7DDE2;
}


.hero h1 {
  margin-bottom: 10px;
}

.hero p {
  margin: 5px 0 15px;
}

.subtitle {
  font-size: 0.95rem;
  color: #7a4a3a;
}

.links a {
  margin: 0 12px;
  text-decoration: none;
  color: #4B2E2A;
  font-weight: 600;
}

.links a:hover {
  text-decoration: underline;
}

/* SECTIONS */
section {
  padding: 30px 0;
}

h2 {
  margin-bottom: 30px;
}

/* PROJECTS */
.projects {
  background-color: #FBF6F2;
}

.project-card {
  background: #FFFDFB;
  border-radius: 14px;
  padding: 30px;
  margin: 0 auto 50px auto;
  max-width: 800px;   /* KEY CHANGE */
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
}

.project-card h3 {
  text-align: center;
  margin-bottom: 20px;
}


.project-card ul {
  max-width: 620px;        /* narrower text column */
  margin: 0 auto 20px auto;
  padding-left: 20px;
  text-align: left;        /* bullets stay readable */
}


.tech {
text-align: center;
  font-style: italic;
  color: #8A5A44;
  margin-top: 10px;
}

.project-link {
  display: block;
  text-align: right;
  margin-top: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #B36A7A;
}

.project-link:hover {
  text-decoration: underline;
}


.certifications {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.cert-card {
  background: #FFF;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.04);
}

.cert-card h3 {
  margin-bottom: 6px;
}

.cert-card p {
  margin-bottom: 10px;
  color: #7a4a3a;
}

.cert-card a {
  font-weight: bold;
  color: #B36A7A;
  text-decoration: none;
}


/* SKILLS */
.skills {
  background: #FFF;
  text-align: center;
}

.skill-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill-grid div {
  min-width: 200px;
}

/* CONTACT */
.contact {
  text-align: center;
  padding: 40px 20px;
  background: #F7DDE2;
}

.projects h2,
.skills h2 {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1 px;
  text-transform: uppercase;
}
